body{
  background: fixed;
  background: linear-gradient(to right, rgb(161, 161, 179), rgb(169, 124, 169));
  background-repeat: no-repeat;
  background-size: cover;
}
h1,h2{
  margin: 10px;
  font-size: 1.5rem;
  font-weight:200 ;
  color: white;
  text-shadow: 2px 2px gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.logo{
  margin: 5px;
}
.logoimg{
  max-width: 48px;
  max-height: 48px
}

.imgsizecarousel{
  max-height: 80vh;
}
.carouselborder{
  border-radius: 5px;
  
}
.carouselboxstyle{
  margin-top: 15px;
  margin-bottom: 15px;
  ;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.btn{
  margin-bottom: 5px;
}
.card{
  box-shadow: 4px 4px 20px black;
}