body{
  background: fixed;
  background: linear-gradient(to right, rgb(161, 161, 179), rgb(169, 124, 169));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Nunito',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1,h2{
  margin: 10px;
  font-size: 1.5rem;
  font-weight:200 ;
  color: white;
  text-shadow: 2px 2px gray;
  text-align: center;
}
.logo{
  margin: 5px;
}
.logoimg{
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
}

.imgsizecarousel{
  max-height: 80vh;
}
.carouselborder{
  border-radius: 5px;
  
}
.carouselboxstyle{
  margin-top: 15px;
  margin-bottom: 15px;
  ;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.btn{
  margin-bottom: 5px;
}
.card{
  box-shadow: 4px 4px 20px black;
}
.actu{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  width: 80%;
  height: 80%;
  background-color: bisque;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
}
@keyframes changeSize {
  0% { width: 100%; }
  50%   { width: 75%; }
  100% { width: 100%; }
}
.actuTitle{
  color: rgb(249, 95, 95);
}
.championnat{
  max-width: 100%;
  height:auto;
  animation: changeSize 2s ease 0.5s infinite;
}
.imgContainer{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 700px) {
  
  .imgContainer{
    height: 320px;
  }
}
footer{
  background-color: aliceblue;
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.footButton{
  height:45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 15px ;
}
